VITE_SUPABASE_URL=https://lvbwbnamuwwjabkybwsr.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_BU-b74b6gM00w5I09FEMzw_A_Ik2Jz1
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2YndibmFtdXd3amFia3lid3NyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwNTY4NTUsImV4cCI6MjA5MDYzMjg1NX0.9YCqgbDee5MDmrmNKwepQFzN-Yqzky_DTCFBBTQ3QZc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2YndibmFtdXd3amFia3lid3NyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTA1Njg1NSwiZXhwIjoyMDkwNjMyODU1fQ.cj6d0rp1S9Y3c3LZT8gK_oxoXB9so_jq44cei-00JBM
ADMIN_JWT_SECRET=b9a0d364-1248-47b8-95c5-03c3f816d772
